# Binaries
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.out
*.test

# Logs and DB
*.log
*.db
*.db-journal
*.db-wal
*.db-shm
data/

# IDEs
.idea/
.vscode/
*.swp

# Python cache
__pycache__/
*.py[cod]
